@charset "UTF-8";

/* CSS Document */


/* INDEX______________________________________

01. GENERAL STYLES
02. NAVIGATION
03. FOOTER
04. TYPOGRAPHY
05. HOME
06. SUB PAGES
07. MEDIA QUERIES

____________________________________________*/


/* -- 01. GENERAL STYLES ------------------------------------ */

img,
a {
    border: 0;
}

#wrapper {
    /* background-color: #FFF; */
}

.default-wrapper {
    /* background-color: #FFF; */
    min-height: 0px;
    color: #FFF;
}

.noPad {
    padding-left: 0px;
    padding-right: 0px;
}


/* body {
    background-color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
} */

body {
    z-index: -100;
    background-color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    width: 100wh;
    height: 90vh;
    color: #fff;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.myhover:hover .myhover-menu {
    display: block;
}

.black {
    color: #000000;
}


/* -- 02. NAVIGATION ------------------------------------ */


/* -- 03. FOOTER ------------------------------------ */


/* -- 04. TYPOGRAPHY ------------------------------------ */

html,
.root {
    font-size: 18px;
    line-height: 31px;
}

body,
.article {
    font-family: sans-serif;
    font-size: 1em;
    line-height: 1.72222222em;
    margin: auto;
}

h1,
.h1 {
    font-size: 5.22222222em;
    line-height: 1.31914894em;
    margin-top: 0.32978723em;
    margin-bottom: 0.65957446em;
}

h2,
.h2 {
    font-size: 3em;
    line-height: 1.14814815em;
    margin-top: 0.57407407em;
    margin-bottom: 0.57407407em;
}

h3,
.h3 {
    font-size: 1.72222222em;
    line-height: 1em;
    margin-top: 1em;
    margin-bottom: 0em;
}

h4,
.h4 {
    font-size: 1em;
    line-height: 1.72222222em;
    margin-top: 1.72222222em;
    margin-bottom: 0em;
}

h5,
.h5 {
    font-size: 1em;
    line-height: 1.72222222em;
    margin-top: 1.72222222em;
    margin-bottom: 0em;
}

p,
ul,
ol,
pre,
table,
blockquote {
    margin-top: 0em;
    margin-bottom: 1.72222222em;
}

ul ul,
ol ol,
ul ol,
ol ul {
    margin-top: 0em;
    margin-bottom: 0em;
}


/* -- 05. HOME ------------------------------------ */

.blurb {
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
}


/* -- 06. SUB PAGES ------------------------------------ */


/* -- 07. MEDIA QUERIES ------------------------------------ */

@media (max-width: 480px) {}

@media (max-width: 767px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 1200px) {}