// ======================================
//  Navigation Styles
// ======================================


.navbar-brand{
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
}

.navbar-nav .nav-item .nav-link {
    color: white;
        &:hover {
            color:black;
            text-decoration: underline;
            background-color: $black;
        }
}

.navbar {
    z-index: 2;
    font-family: $font_stack_secondary;
    .navbar-nav{
        li{
            a{ 
                color: black;
                font-size: 13px;
                font-weight: 700;
                letter-spacing: 1px;
                text-decoration: none;
                &:hover{
                color: white;
                }
            }    
        }
    }
}

.bg-dark{
    background-color: $black!important;
}

// Parent color keep from child hover
ul.navbar-nav li:hover > a{
    color: white!important;
    background-color: $black;
}

// Dropdown on hover
.dropdown:hover > .dropdown-menu {
    display: block;
}
  